.content {
  max-width: 800px;
  margin: auto;
  padding: 50px;
}

.sup {
  position: relative;
  bottom: 1ex;
  font-size: 80%;
}

h1 { color: black; font-family: 'Georgia', sans-serif; font-size: 34px; font-weight: 300; line-height: 40px; margin: 0 0 16px; }

h2 { color: black; font-family: 'Georgia', sans-serif; font-size: 29px; font-weight: 300; line-height: 36px; margin: 0 0 5px;  }

h3 { color: black; font-family: 'Georgia', sans-serif; font-size: 24px; font-weight: 300; line-height: 32px; margin: 0 0 5px;  }

body {background-color: lightgray;}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
}
th {
  text-align: left;
}
